
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700');

body{
    margin: 0;
    padding: 0;
    background-image: url("../images/bg-images.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
    position: relative;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.header {
	width: 100%;
    
}
.main-nav{
    background-color: rgba(160 , 187, 200, 0.7);
    min-height: 55px;
    width: 100%;
    margin-bottom: 20px;
}
.site-list__item--close, .site-list__item--open {
    display: none;
}
.main-nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.site-list__item{
    margin-right: 70px;
}
.site-list__item:last-child{
    margin-right: 0;
}
.site-list__item a{
    color: #000;
    display: block;
    padding: 20px 15px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
}

.site-list__item a:hover{
    background-color: rgba(11 , 30, 41, 0.8);
    color: #fff;
}
.flex-wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.logo__text{
    display: inline-block;
    max-width: 210px;
    padding-left: 15px;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}
.call-back{
    max-width: 200px;
    text-align: right;
    margin-right: 15px;
}
.tel {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom:5px;
}
.call-back__toggle{
    
    color: #dd2c14;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid #dd2c14;
    padding: 0;
    cursor: pointer;
}
.call-back__toggle:hover{
    border-bottom: none;
    padding-bottom: 2px;
}
.main-page{
    margin-top: 60px;
    background-image: url("../images/man.png");
    background-repeat: no-repeat;
    background-position: 60%  100%;
}
.main-title{
    max-width: 620px; 
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 60px;
    padding:50px; 
    color: #ffffff;
    font-size: 36px;
    font-weight:bold;
    text-transform: uppercase;
    background-color: #dd2c14;
    position: relative;
    z-index: -1;
}
.main-title::before {
    content: ' ';
    position: absolute;
    z-index: -2;
    bottom: -55px;
    right: 205px;
    border: 65px solid transparent;
    border-bottom-color: #dd2c14;
    transform: rotate(-90deg);
}
.servies__list{
    list-style: none;
    width: 700px;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    position: relative;
    z-index: -1;
}
.servies__list__item{
    color: #fefefe;
    font-size: 24px;
    font-weight:bold;
    text-transform: uppercase;
    padding: 15px;
    background-color: rgba(13, 28, 38, 0.8);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.servies__list__item img{
    margin-right: 15px;
}
.small-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: block;
}

.servies-form{
    width: 360px;
    box-sizing: border-box;
    background-color: rgba(234, 237, 237, 0.8);
    padding: 28px 38px;
    text-align:center;
    margin-bottom: 40px;
    margin-right: 15px;
}
.servies-form__title {
margin: 0 auto;
padding: 0;
width: 200px;
color: #000000;
font-size: 24px;
font-weight:bold;
text-transform: uppercase;
}
.servies-form__text {
	color: #000000;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}
.input-form-name, .input-form-phone{
    margin: 0;
    padding: 0;
    position: relative;
}
 .input-form-name input, .input-form-phone input{
    min-height: 40px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 45px;
    margin-bottom: 20px;
    background-color: #eef2f5;
     border: 1px solid #ccc;
}
.input-img-man, .input-img-phon{
    
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    border-left: 1px solid #ccc;
    position: absolute;
    vertical-align: middle;
    width: 40px;
    height: 38px;
    opacity: 0.5;
    bottom: 21px;
    right:0px;
}
.input-img-man{
    background-image: url("../images/man.svg");
}
.input-img-phon{
   background-image: url("../images/phon.svg"); 
}

.button-form{
    width: 100%;
    background-color: #dd2c14;
    border: 1px solid #dd2c14;
    color: #ffffff;
    font-size: 24px;
    font-weight:bold;
    text-transform: uppercase;
    padding: 10px 0px;
    cursor: pointer;
    margin-bottom: 25px;
    
}
.button-form:hover{
    background-color: #fff;
    color:#dd2c14;
 
}
.form-info{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.form-checkbox {
    position: relative;
    cursor: pointer;
    padding-left:20px;
    width: 100%;
}
.visualy-hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}
.form-checkbox input[type="checkbox"]+ .checkbox-indicator {
	position: absolute;
    top:0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border:2px solid  #999999;;
}
.form-checkbox input[type="checkbox"]:focus+ .checkbox-indicator{
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
} 
.form-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
    content: "";
    position: absolute;
    top:2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #dd2c14;
}
.modal-call-back{
    display: none;
}
.modal-show{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width :992px) {
    .site-list__item{
        margin-right: 50px;
    }
    .main-page{
        background-position: 73% 100%;
}
    .servies__list{
        width: 600px;
    }
}
@media (max-width:900px){
        .main-page{
       background-image: none;
}
        .site-list__item{
        margin-right: 35px;
    }
    .servies__list{
        width: 400px;
    }
     
}

@media (max-width: 778px) {
    .site-list__item{
        margin-right: 20px;
    }
    .main-title{
        padding: 40px;
        font-size: 34px;
    }
    .servies__list{
        width: 350px;
    }
    .servies-form{
        width: 350px
    }
}
@media (max-width : 544px) {
    .flex-wrapper{
        flex-wrap: wrap;
        margin: 0 auto;
    } 

    .main-nav--open .site-list__item--open {
    display: block;
    text-align: center;
    }
    .main-nav--open .site-list__item  {
        display: block;
    }
    .main-nav--open .site-list__item--close{
        display: none;
    }
       .main-nav--close .site-list__item {
        display: none;
    }
    .main-nav--close .site-list__item--close {
        display: block;
        text-align: center;
    }
 
    
    .main-nav__list {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .call-back{
        margin-top: 25px;
        text-align: left;
        margin-left: 15px;
    }
    
    .site-list__item{
        border-bottom: 1px solid  rgba(13, 28, 38, 0.8); 
    }
    .main-page{
        margin-top: 30px;
    }
    .main-title{
        font-size: 28px;
        width: 85%;
        padding: 20px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .servies__list{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .servies-form{
        margin: 0 auto;
    }
    
}

@media (max-width : 320px) {}
